body, html{
  
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
  padding:0 0 0 0;
  background-color:white;
  height:100%;
  width: 100%;
  
} 

.flex-container{
  justify-content:center;
  width:100%;
  height:100%;
  display:flex;
} 

.coloredText{
  
}

#title{
  color:white;
  font-size:3em;
  text-align:center;
}