body, html{
  
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
  padding:0 0 0 0;
  background-color:white;
  
} 

#flex-container{
  justify-content:center;
  width:100%;
  display:flex;
} 

.title{
  color:white;
  font-size:3em;
  text-align:center;
}